<!DOCTYPE html>
<html lang="en">

    <%- include ('partials/head.html')%>


<body>
    <%- include ('partials/header.html')%>

    <div class="mainSection content">   
        <div class="container">
            <div class="row justify-content-center">
                <h1 class="row justify-content-center title">Brutal Phones</h1>
            </div>
        </div>

        <div class="contianer">
            <div class="row justify-content-center">
                <img class="ilustration col-md-4" src="/img/ilustrations/phone.svg">
            </div>
        </div>
    </div>

</body>
</html>