@import './global.scss';

.mainHeader{
    font-family: $normalfont;
    padding: 4px;
    background-color: $black1;
    border-bottom: 0.1px outset rgba(255, 255, 255, 0.521);
    transition-duration: 0.6s;
    nav{
        ul{
            li{
                img{
                    width: 20px;
                    filter: invert(100%);
                }
                a, a:visited{
                    color: $white1;
                    font-size: $normalsize + 8;
                }
                &:hover{
                    a{
                        color: $blue1;
                    }
                    img{
                        transform: scale(1.2);
                    }
                }
            }
        }
    }

    &:hover{
        border-radius: 0px 0px 70px 70px;
        border-bottom: 0.1px outset rgba(255, 255, 255, 0.192);
    }
}

.mainSection{
    margin-top: 30px;
    padding: 20px;
    .title{
        text-shadow: 1.8px 2px 3px $purple1;
        animation: fadeIn 0.8s forwards;
        color: $white1;
        font-weight: bolder;
        font-size: $titlesize + 20;
        font-family: $titlefont;
        letter-spacing: 2px;
    }
    .ilustration{
        animation: 1s bounceIn forwards;
    }
}