<header class="mainHeader row">
    <nav class="row">
        <ul class="row justify-content-center text-center"> 
            <li class="col-md-2">
                <img src="/img/icons/home.svg">
                <a href="/home">Home</a>
            </li>
            <li class="col-md-2">
                <img src="/img/icons/products.svg">
                <a href="/products">Products</a>
            </li>
            <li class="col-md-2">
                <img src="/img/icons/contact.svg">
                <a href="/contact">Contact</a>
            </li>
            <li class="col-md-2">
                <img src="/img/icons/about.svg">
                <a href="/about">About</a>
            </li>
        </ul>
    </nav>
</header>